body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

:root {
  --bg: hsl(230, 17%, 14%);
  --top-bg-pattern: hsl(232, 19%, 15%);
  --card-bg: hsl(228, 28%, 20%);
  --text-one: hsl(228, 34%, 66%);
  --text-two: hsl(0, 0%, 100%);
}

.is-dark-mode {
  --bg: hsl(230, 17%, 14%);
  --top-bg-pattern: hsl(232, 19%, 15%);
  --card-bg: hsl(228, 28%, 20%);
  --text-one: hsl(228, 34%, 66%);
  --text-two: hsl(0, 0%, 100%);
}

.is-light-mode {
  --bg: hsl(0, 0%, 100%);
  --top-bg-pattern: hsl(225, 100%, 98%);
  --card-bg: hsl(227, 47%, 96%);
  --text-one: hsl(228, 12%, 44%);
  --text-two: hsl(230, 17%, 14%);
  --space-padding: 30px;
}

.App {
  background-color: var(--bg);
}

.header {
  background-color: var(--top-bg-pattern);
  color: var(--text-two);
  height: 300px;
  padding-top: 30px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.wrapper {
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
}

.header__title {
  margin: 0;
}

.header__description {
  color: var(--text-one);
  margin: 0;
}

.toggle {
  display: flex;
  align-items: center;
}
