body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

:root {
  --light-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --facebook: #168ef4;
  --twitter: hsl(203, 89%, 53%);
  --instagram1: hsl(37, 97%, 70%);
  --instagram2: hsl(329, 70%, 58%);
  --youtube: hsl(348, 97%, 39%);
  --bg: hsl(230, 17%, 14%);
  --top-bg-pattern: hsl(232, 19%, 15%);
  --card-bg: hsl(228, 28%, 20%);
  --text-one: hsl(228, 34%, 66%);
  --text-two: hsl(0, 0%, 100%);
}

.is-dark-mode {
  --bg: hsl(230, 17%, 14%);
  --top-bg-pattern: hsl(232, 19%, 15%);
  --card-bg: hsl(228, 28%, 20%);
  --text-one: hsl(228, 34%, 66%);
  --text-two: hsl(0, 0%, 100%);
}

.is-light-mode {
  --bg: hsl(0, 0%, 100%);
  --top-bg-pattern: hsl(225, 100%, 98%);
  --card-bg: hsl(227, 47%, 96%);
  --text-one: hsl(228, 12%, 44%);
  --text-two: hsl(230, 17%, 14%);
  --space-padding: 30px;
}

.App {
  background-color: var(--bg);
  /* height: 100vh; */
  padding-bottom: 100px;
}

.header {
  background-color: var(--top-bg-pattern);
  color: var(--text-two);
  height: 300px;
  padding-top: 30px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.header .wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}

.wrapper {
  padding: 0 30px;
}

.header__title-container {
  border-bottom: 0.5px solid var(--text-one);
  padding-bottom: 20px;
}

.header__title {
  margin: 10px 0;
}

.header__description {
  color: var(--text-one);
  margin: 0;
}

/* .header__divisor {
  margin: 20px 0;
  border-color: var(--text-one);
  height: 1px;
} */

.toggle {
  display: flex;
  align-items: center;
  color: var(--text-one);
  margin-top: 40px;
}

.container {
  margin-top: -60px;
}

.grid {
  display: grid;
  grid-row-gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
  text-align: center;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  background-color: var(--card-bg);
}

.card__line {
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
}

.card__line-facebook {
  background-color: var(--facebook);
}
.card__line-twitter {
  background-color: var(--twitter);
}
.card__line-instagram {
  background-image: linear-gradient(
    to right,
    var(--instagram1) 0%,
    var(--instagram2) 100%
  );
}
.card__line-youtube {
  background-color: var(--youtube);
}

.card__header {
  display: flex;
  color: var(--text-one);
}

.card__header img {
  margin-right: 8px;
}

.card__hero {
  margin: 12px 0;
}

.card__hero-number {
  color: var(--text-two);
  font-weight: 700;
  font-size: 64px;
  margin: 0;
}

.card__hero-description {
  margin: 0;
  color: var(--text-one);
  text-transform: uppercase;
  letter-spacing: 6px;
}

.card__stats {
  display: flex;
  align-items: center;
}

.card__stats-up {
  color: var(--light-green);
}

.card__stats-down {
  color: var(--bright-red);
}

.card__stats img {
  width: 12px;
  margin-right: 8px;
}

.card__stats p {
  margin: 0;
}

.overview__title {
  color: var(--text-two);
  font-size: 28px;
  margin: 40px 0 20px 0;
}

.small-card {
  background-color: var(--card-bg);
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* justify-content: space-between; */
  align-items: center;
  justify-items: flex-end;
  border-radius: 8px;
  padding: 20px 30px;
}

.small-card__left {
  justify-self: flex-start;
}

.small-card__bottom {
  align-self: flex-end;
  margin-bottom: 8px;
}

.small-card__title {
  color: var(--text-one);
}

.small-card__number {
  color: var(--text-two);
  font-weight: 700;
  font-size: 46px;
  margin: 0;
}

@media screen and (min-width: 480px) {
  .container {
    margin-top: -90px;
  }
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 32px;
  }
  .wrapper {
    max-width: 1440px;
    margin: auto;
  }
}

@media screen and (min-width: 720px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .header .wrapper {
    flex-direction: row;
  }
  .header__title-container {
    border-bottom: none;
    padding-bottom: 20px;
  }
  .toggle {
    margin-top: 0;
  }
  .container {
    margin-top: -180px;
  }
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
